.menu-title {
  font-weight : bold ;
}

.maze-table {
  font-family : monospace ;
  cursor : crosshair ;
  -webkit-user-select : none ;
  -moz-user-select : none ;
  -ms-user-select : none ;
  user-select : none ;
}

